{% extends "layout/index.html" %}


{% block title %}

Memos

{% endblock title %}

{% block url_level_title %}
Memos
{% endblock url_level_title %}

{% block url_level %}
Memo
{% endblock url_level %}




{% block content %}


{% if request.user.is_superuser %}
<form class="row g-3" method="post" action="{% url 'save_memos' %}" id="memo_form">
    <div style="width: 80%; margin: 0 auto;">
        <div class="col-auto">
            <label for="inputmemos"></label>
            <textarea class="form-control" id="memo" name="memo" placeholder="memos" cols="1500" rows="10">
            </textarea>
            <script>
                CKEDITOR.replace('memo');
            </script>
            <small id='errorformemo' class="invalid-feedback"></small>
        </div>
        <button type="submit" class="btn btn-primary mb-3" id="save_memo_btn">Save memo</button>
    </div>
</form>
{% endif %}


<div style="overflow-y: scroll; height:400px;">


    {% for memo in memos %}
    <div class="announcement"
        style="padding: 10px 15px 10px 0px; border: 1px solid #e1e1e1;  background-color: #f9f9f9; border-radius: 8px;">
        <h2 style="font-size: 2.0em; letter-spacing: 0.04em; margin: 0; font-weight: normal; color: #ff5252;  margin-left: 5px;">
            Announcement
        </h2>
        <h6 style = " margin-left: 10px;">{{ memo.created_at }}</h6>
        <div style="display: flex; justify-content: space-between; margin: 20px 0 0 10px">
            <div style="font-size: 20px;"> {{ memo.memo |safe }} </div>
            <hr>
            <a href="#" class="delete_memo" style="color: red;" data-pk="{{ memo.pk }}"> <i class='fas fa-trash-alt'></i> </a> 
        </div>
    </div>
    {% endfor %}

</div>



{% endblock content %}


{% block script %}

<script>

    $("document").ready(function () {

        $.ajaxSetup({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            }
        });



        $("#memo_form").on("submit", function (e) {
            e.preventDefault();

            form_is_invalid = false;

            //Validation for memo begins here
            if (CKEDITOR.instances.memo.getData() == "") {
                $("#memo").addClass("is-invalid");
                $("#errorformemo").text("Field is required");
                form_is_invalid = true;
            }
            else {
                $("#memo").removeClass("is-invalid");
                $("#memo").addClass("is-valid");
                $("#errorformemo").text("");
            }//Validation for memo ends here


            if (form_is_invalid) {
                e.stopPropagation()
                return false
            }

            $("#save_memo_btn").attr("disabled", true);
            $("#save_memo_btn").html(`<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>`);

            console.log("the text =", CKEDITOR.instances.memo.getData())

            $.ajax({
                url: $(this).attr("action"),
                method: $(this).attr("method"),
                data: { "memo": CKEDITOR.instances.memo.getData() },
                dataType: "json",
                //processData: false,
                //contentType: false,
                success: function (resp) {
                    console.log(resp);
                    if (resp.success) {
                        iziToast.success({
                            title: 'Memo saving success',
                            message: resp.msg,
                            position: 'topRight',
                        });

                        //$("#registation_form").find("input").val("")
                        //$("#registation_form").find("input").removeClass("is-valid")

                        $("#save_memo_btn").attr("disabled", false);
                        $("#save_memo_btn").html(`Save memo`);

                        setTimeout(() => {
                            location.reload()
                        }, 1000)

                    } else {
                        if (resp.key) {
                            console.log(resp.key)
                            $(`#${resp.key}`).addClass("is-invalid").focus()
                        }

                        iziToast.error({
                            title: 'Memo saving',
                            message: resp.msg,
                            position: 'topRight',
                        });

                        $("#save_memo_btn").attr("disabled", false);
                        $("#save_memo_btn").html(`Save memo`);
                    }
                }
            });


        })

        $(document).on("click", ".update_tasks", function () {
            $("#pk").val($(this).data("pk"))
            $("#title").val($(this).data("title"))
            $("#start_date").val($(this).data("start_date"))
            $("#end_date").val($(this).data("end_date"))
            $("#assigned_to").val($(this).data("assigned_to"))
            $("#task_status").val($(this).data("status_id"))
            // $("#start_task").css("display", "block")
            $("#myModalLabel").text($(this).data("title"))
            console.log($(this).data("task_time"))
            $("#time").val($(this).data("task_time"))

            console.log($(this).data("notification"))


            pk = $(this).data("pk")
            $.ajax({
                url: '/get_tasks_status',
                method: "POST",
                data: { "task_id": $(this).data("pk") },
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                dataType: "json",
                success: function (resp) {
                    console.log(resp)
                    if (!resp.started) {
                        $.ajax({
                            url: '/start_timer',
                            method: "POST",
                            data: { "task_id": pk },
                            headers: {
                                "X-CSRFToken": '{{csrf_token}}'
                            },
                            dataType: "json",
                            success: function (resp) {
                                console.log(resp)
                                $("#timer").css("display", "block")
                            }
                        })
                    } else {
                        $("#timer").css("display", "none")
                    }
                }
            })


            if ($(this).data("task_start_timer") != "None" && $(this).data("task_end_timer") == "None") {
                $("#tasksmodel").find(".timer_diplayer").css("display", "block")
                console.log("the task is currently running")

                //$(".timer").css("display", "block")
            }
            else {
                console.log("the task finished it is execution")
                $("#timer").css("display", "none")
            }
            $("#tasksmodel").modal("show")
        })





        




        $(".delete_memo").on("click", function () {

            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/delete_memo',
                        method: "POST",
                        data: { "id": $(this).data("pk") },
                        headers: {
                            "X-CSRFToken": '{{csrf_token}}'
                        },
                        dataType: "json",
                        success: function (resp) {
                            console.log(resp)
                            if (resp.success) {
                                swal.fire("success", resp.msg, "success")
                                location.reload()
                            }
                            else {
                                swal.fire("error", resp.msg, "error")
                            }
                        }
                    })
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'The memo is safe :)',
                        'error'
                    )
                }
            })


        })


    });


</script>

{% endblock script %}