{% block customer_change_model %}


<div class="modal fade" id="customer_change_model" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="customer_change_modelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="customer_change_modelLabel"> Customer change
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">



                <form action="{% url 'UpdateCustChange' %}" method="post" id="UpdateCustChange" class="row g-3">
                    {% csrf_token %}
                    <div class="col-md-4">
                        <label for="callsub_customer_change" class="form-label">Callsub</label>
                        <input type="number" class="form-control" id="callsub_customer_change" name="callsub"  value="{{ callsub }}" autofocus>
                        <small id="errorforcallsub_customer_change" class="invalid-feedback"> </small>
                    </div>
                    <div class="col-md-8">
                        <label for="Descrip" class="form-label">Description</label>

                        <input type="text" class="form-control" id="Descrip" name="Descrip" class="empty">

                        <small id="errorforDescrip" class="invalid-feedback"> </small>
                    </div>


                    <div class="col-md-12">
                        <label for="TranType" class="form-label"> Tran type</label>

                        <select class="form-control" name="TranType" id="TranType" style="width: 100%;" class="empty">
                            <option value="">Select Tran type </option>

                            <option value="Cash"> Cash </option>
                            <option value="Promotion"> Promotion </option>


                        </select>
                        <small id="errorforTranType" class="invalid-feedback"> </small>
                    </div>







                    <div class="col-md-12">
                        <label for="CGS" class="form-label"> Gsm features </label>

                        <select class="form-control" name="CGS" id="CGS" style="width: 100%;" class="empty">
                            <option value="">Select Gsm features </option>

                            {% for gsmfeatures in gsmfeatures %}
                            <option value="{{ gsmfeatures.FeatureName }}"> {{ gsmfeatures.FeatureName }} </option>
                            {% endfor %}

                        </select>
                        <small id="errorforCGS" class="invalid-feedback"> </small>
                    </div>


                    <br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit" id='UpdateCustChange_btn'>Perform</button>
                    </div>
                </form>


            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

{% endblock customer_change_model %}