{% block phone_directory_model %}


<div class="modal fade" id="phone_directory_model" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="phone_directory_modelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="phone_directory_modelLabel">Phone Directory
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">




                <form action="{% url 'DisplayPhoneDirectory' %}" method="post" id="DisplayPhoneDirectory">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <select name="search_by" id="search_by" class="form-control" style="width: 1%;">
                            <option value="Number">Number</option>
                            <option value="Name">Name</option>
                            <option value="Address">Address</option>
                        </select>

                        <input type="text" name="search_value" id="search_value" class="form-control"
                            placeholder="search" aria-label="Text input with dropdown button" style="width: 55%;">

                        <button class="form-control btn btn-info" type="submit"
                            id="phone_directory_search_btn">Search</button>
                    </div>
                </form>

                <div class="table-responsive" style="max-height: 500px;">


                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th style=" position: sticky;  background-color: snow;  z-index: 2;   top: 0; ">Callsub</th>
                                <th style=" position: sticky;  background-color: snow;  z-index: 2;   top: 0; ">Name</th>
                                <th style=" position: sticky;  background-color: snow;  z-index: 2;   top: 0; ">Address</th>
                                <th style=" position: sticky;  background-color: snow;  z-index: 2;   top: 0; ">Centre</th>
                                <th style=" position: sticky;  background-color: snow;  z-index: 2;   top: 0; ">StartDate</th>
                            </tr>
                        </thead >
                        <tbody id="table_body_phone_directory" >

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

{% endblock phone_directory_model %}