[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "3.2.6"
requests = "*"
pymysql = "*"
django-sslserver = "*"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "*"
