{% extends 'layout/index.html' %}


{% block title %}

Tasks

{% endblock title %}


{% block url_level_title %}
tasks
{% endblock url_level_title %}

{% block url_level %}
tasks
{% endblock url_level %}



{% block content %}



<div class="row" style="">
    <div class="col-xl-12">
        <div class="card" style="box-shadow: 2px 2px 2px 2px silver;">
            <div class="card-body">
                <div style="display: flex; justify-content: space-between; ">
                    <h2 class="card-title mb-4">Tasks</h2>
                    <a href="#" class="btn btn-purple rounded-pill w-md waves-effect waves-light mb-3" id="new_tasks"><i
                            class="mdi mdi-plus"></i>
                        Add task</a>

                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-centered table-nowrap mb-0" id="taskstable" style="color: black;">
                        <thead>
                            <tr>
                                <th> SN </th>
                                <th>Title</th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th> Assigned to </th>
                                <th> Status </th>
                                <th> Time </th>

                                {% if request.user.is_superuser %}
                                <th> Action </th>

                                {% endif %}

                            </tr>
                        </thead>

                        <tbody></tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock content %}



{% block script %}
<script>

    // Add two times in hh:mm:ss format
function addTimes(times = []) {

    const z = (n) => (n < 10 ? '0' : '') + n;

    let hour = 0
    let minute = 0
    let second = 0
    for (const time of times) {
        const splited = time.split(':');
        hour += parseInt(splited[0]);
        minute += parseInt(splited[1])
        second += parseInt(splited[2])
    }
    const seconds = second % 60
    const minutes = parseInt(minute % 60) + parseInt(second / 60)
    const hours = hour + parseInt(minute / 60)

    return z(hours) + ':' + z(minutes) + ':' + z(seconds)
}

    $(document).ready(function () {

        let timer_interval

        $.ajaxSetup({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            }
        });


        is_superuser = "{{ request.user.is_superuser }}"

        if (is_superuser == "True") {

            let table = $("#taskstable").DataTable({
                ajax: {
                    "url": "/get_tasks",
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "sn" },
                    { "data": "title" },
                    { "data": "start_date" },
                    { "data": "end_date" },
                    { "data": "assigned_to" },
                    { "data": "status" },
                    { "data": "time" },
                    { "data": "actions" },
                ]
            });

        } else {
            let table = $("#taskstable").DataTable({
                ajax: {
                    "url": "/get_tasks",
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "sn" },
                    { "data": "title" },
                    { "data": "start_date" },
                    { "data": "end_date" },
                    { "data": "assigned_to" },
                    { "data": "status" },
                    { "data": "time" },

                ]
            });
        }


        $(document).on("click", ".delete_tasks", function () {


            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/del_task',
                        method: "POST",
                        data: { "id": $(this).data("id") },
                        dataType: "json",
                        success: function (resp) {
                            swal.fire("success", resp.msg, "success" )
                            $("#taskstable").DataTable().ajax.reload();
                        }
                    })
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'The task is not deleted :)',
                        'error'
                    )
                }
            })
        })

        $(document).on("click", ".update_tasks", function () {


            $("#pk").val($(this).data("pk"))
            $("#title").val($(this).data("title"))
            $("#start_date").val($(this).data("start_date"))
            $("#end_date").val($(this).data("end_date"))
            $("#assigned_to").val($(this).data("assigned_to"))
            $("#task_status").val($(this).data("status_id"))
            // $("#start_task").css("display", "block")
            $("#myModalLabel").text($(this).data("title"))
            let task_time = $(this).data("task_time")
            if (task_time == "None") {
                task_time = "00:20:00"
            }
            how_long_it_takes = $(this).data("task_time")
            

            $("#time").val($(this).data("task_time"))
            pk = $(this).data("pk")



            $.ajax({
                url: '/get_tasks_status',
                method: "POST",
                data: { "task_id": $(this).data("pk") },
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                dataType: "json",
                success: function (resp) {
                    if (!resp.started) {
                        $.ajax({
                            url: '/start_timer',
                            method: "POST",
                            data: { "task_id": pk },
                            headers: {
                                "X-CSRFToken": '{{csrf_token}}'
                            },
                            dataType: "json",
                            success: function (resp) {
                                console.log(resp)
                                $("#timer").css("display", "block")
                            }
                        })
                    } else {
                        // $("#timer").css("display", "none")
                    }
                }
            })


            if ($(this).data("task_start_timer") != "None" && $(this).data("task_end_timer") == "None") {
                element = $("#tasksmodel").find(".timer_diplayer")
                $(element).css("display", "block")


                task_started_at = $(this).data("task_start_timer")
                console.log("starts at = ", task_started_at, " takes = ", how_long_it_takes)
                

                long = addTimes([task_started_at, how_long_it_takes])

                console.log(long)


                date = $(this).data("start_date") + " " + long
                console.log(date)


                const eventdata = Date.parse(date)
                


                var today = new Date();
                var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                timer_interval = setInterval(() => {
                    let now = new Date().getTime()
                    const diff = eventdata - now
                    const d = Math.floor(eventdata / (1000 * 60 * 60 * 24) - (now / (1000 * 60 * 60 * 24)))
                    const h = Math.floor((eventdata / (1000 * 60 * 60) - (now / (1000 * 60 * 60))) % 24)
                    const m = Math.floor((eventdata / (1000 * 60) - (now / (1000 * 60))) % 60)
                    const s = Math.floor((eventdata / (1000) - (now / (1000))) % 60)
                    if (diff > 0) {
                        let div = `
                    <div class='alert alert-danger' style = 'height: 50px; position: absolute; top: 4px; left: 204px; z-index: 99999; color: black;'>
                    ${h}:${m}:${s} 
                    </div>
                    `
                        $(element).html(div)
                    }
                    else {
                        $(element).html("")
                    }
                }, 1000)
            }
            else {
                $("#timer").css("display", "none")
            }
            $("#tasksmodel").modal("show")
        })



        $("#add_new_task_modal").on("submit", function (e) {
            e.preventDefault();
            form_is_invalid = false;
            //Validation for title begins here
            if ($("#title").val() == "") {
                $("#title").addClass("is-invalid");
                $("#errorfortitle").text("Please enter your title");
                form_is_invalid = true;
            }
            else {
                $("#title").removeClass("is-invalid");
                $("#title").addClass("is-valid");
                $("#errorfortitle").text("");
            }
            //Validation for title ends here
            //Validation for start_date begins here
            if ($("#start_date").val() == "") {
                $("#start_date").addClass("is-invalid");
                $("#errorforstart_date").text("Please enter your start_date");
                form_is_invalid = true;
            }
            else {
                $("#start_date").removeClass("is-invalid");
                $("#start_date").addClass("is-valid");
                $("#errorforstart_date").text("");
            }
            //Validation for start_date ends here
            //Validation for end_date begins here
            if ($("#end_date").val() == "") {
                $("#end_date").addClass("is-invalid");
                $("#errorforend_date").text("Please enter your end_date");
                form_is_invalid = true;
            }
            else {
                $("#end_date").removeClass("is-invalid");
                $("#end_date").addClass("is-valid");
                $("#errorforend_date").text("");
            }
            //Validation for end_date ends here
            //Validation for assigned_to begins here
            if ($("#assigned_to").val() == "") {
                $("#assigned_to").addClass("is-invalid");
                $("#errorforassigned_to").text("Please enter your assigned_to");
                form_is_invalid = true;
            }
            else {
                $("#assigned_to").removeClass("is-invalid");
                $("#assigned_to").addClass("is-valid");
                $("#errorforassigned_to").text("");
            }
            //Validation for assigned_to ends here
            if (form_is_invalid) {
                e.stopPropagation()
                return false
            }
            $("#add_new_task_btn").attr("disabled", true);
            $("#add_new_task_btn").html(`<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>`);



            $.ajax({
                url: $(this).attr("action"),
                method: $(this).attr("method"),
                data: new FormData(this),
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (resp) {
                    console.log(resp);
                    if (resp.success) {
                        iziToast.success({
                            title: 'Add new task',
                            message: resp.msg,
                            position: 'topRight',
                        });

                        //$("#registation_form").find("input").val("")
                        //$("#registation_form").find("input").removeClass("is-valid")
                        $("#tasksmodel").modal("hide")

                        $("#add_new_task_btn").attr("disabled", false);
                        $("#add_new_task_btn").html(`Add`);

                        $("#taskstable").DataTable().ajax.reload();

                    } else {
                        if (resp.key) {
                            console.log(resp.key)
                            $(`#${resp.key}`).addClass("is-invalid").focus()
                        }

                        iziToast.error({
                            title: 'Add new task',
                            message: resp.msg,
                            position: 'topRight',
                        });

                        $("#add_new_task_btn").attr("disabled", false);
                        $("#add_new_task_btn").html(`Add`);
                    }
                }
            });


        })

        $('#tasksmodel').on('hidden.bs.modal', function (e) {
            clearInterval(timer_interval)
        })

        $("#new_tasks").on("click", function () {
            $("#timer").css("display", "none")
            $("#tasksmodel").find("input, select").val("").removeClass("is-invalid, is-valid")
            $("#myModalLabel").text("Add new task")
            // $("#start_task").css("display", "none")
            $("#tasksmodel").modal("show")
        })


    })

</script>
{% endblock script %}