{% extends 'layout/index.html' %}


{% block url_level_title %}
tasks
{% endblock url_level_title %}

{% block url_level %}
tasks
{% endblock url_level %}



{% block content %}




{% if request.user.is_superuser %}
<button class="btn btn-success"  id="new_tasks"> Add new task
</button>
{% endif %}











<table id="taskstable">
    <thead>
        <tr>
            <th> SN </th>
            <th>Title</th>
            <th>Start date</th>
            <th>End date</th>
            <th> Assigned to </th>
            <th> Status </th>
            <th> Time </th>

            {% if request.user.is_superuser %}
            <th> Action </th>

            {% endif %}

        </tr>
    </thead>
</table>

{% endblock content %}



{% block script %}
<script>

    $(document).ready(function () {
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            }
        });


        is_superuser = "{{ request.user.is_superuser }}"

        if (is_superuser == "True") {

            let table = $("#taskstable").DataTable({
                ajax: {
                    "url": "/get_tasks",
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "sn" },
                    { "data": "title" },
                    { "data": "start_date" },
                    { "data": "end_date" },
                    { "data": "assigned_to" },
                    { "data": "status" },
                    { "data": "time" },
                    { "data": "actions" },
                ]
            });

        } else {
            let table = $("#taskstable").DataTable({
                ajax: {
                    "url": "/get_tasks",
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "sn" },
                    { "data": "title" },
                    { "data": "start_date" },
                    { "data": "end_date" },
                    { "data": "assigned_to" },
                    { "data": "status" },
                    { "data": "time" },

                ]
            });
        }


        $(document).on("click", ".delete_tasks", function () {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this task!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: '/del_task',
                            method: "POST",
                            data: { "id": $(this).data("id") },
                            dataType: "json",
                            success: function (resp) {
                                swal(resp.msg, {
                                    icon: "success",
                                });
                                $("#taskstable").DataTable().ajax.reload();
                            }
                        })
                    } else {
                        swal("This task is safe!");
                    }
                });
        })

        $(document).on("click", ".update_tasks", function(){
            $("#pk").val($(this).data("pk"))
            $("#title").val($(this).data("title"))
            $("#start_date").val($(this).data("start_date"))
            $("#end_date").val($(this).data("end_date"))
            $("#assigned_to").val($(this).data("assigned_to"))
            $("#task_status").val($(this).data("status_id"))
           // $("#start_task").css("display", "block")
            $("#myModalLabel").text($(this).data("title"))
            console.log($(this).data("task_time"))
            $("#time").val($(this).data("task_time"))
            pk = $(this).data("pk") 
            $.ajax({
                url: '/get_tasks_status',
                method: "POST",
                data : {"task_id": $(this).data("pk")},
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                dataType: "json",
                success: function (resp) {
                    if(!resp.started){
                        $.ajax({
                            url: '/start_timer',
                            method: "POST",
                            data : {"task_id": pk},
                            headers: {
                                "X-CSRFToken": '{{csrf_token}}'
                            },
                            dataType: "json",
                            success: function (resp) {
                                console.log(resp)
                                $("#timer").css("display", "block")
                            }
                        })
                    }else{
                        $("#timer").css("display", "none")
                    }
                }
            })

            
            if($(this).data("task_start_timer") != "None" && $(this).data("task_end_timer") == "None"){
                $("#tasksmodel").find(".timer_diplayer").css("display", "block")
                console.log("the task is currently running")

                //$(".timer").css("display", "block")
            }
            else{
                console.log("the task finished it is execution")
                $("#timer").css("display", "none")
            }
            $("#tasksmodel").modal("show")
        })



        $("#add_new_task_modal").on("submit", function (e) {
            e.preventDefault();

            form_is_invalid = false;



            //Validation for title begins here
            if ($("#title").val() == "") {
                $("#title").addClass("is-invalid");
                $("#errorfortitle").text("Please enter your title");
                form_is_invalid = true;
            }
            else {
                $("#title").removeClass("is-invalid");
                $("#title").addClass("is-valid");
                $("#errorfortitle").text("");
            }
            //Validation for title ends here

            //Validation for start_date begins here
            if ($("#start_date").val() == "") {
                $("#start_date").addClass("is-invalid");
                $("#errorforstart_date").text("Please enter your start_date");
                form_is_invalid = true;
            }
            else {
                $("#start_date").removeClass("is-invalid");
                $("#start_date").addClass("is-valid");
                $("#errorforstart_date").text("");
            }
            //Validation for start_date ends here

            //Validation for end_date begins here
            if ($("#end_date").val() == "") {
                $("#end_date").addClass("is-invalid");
                $("#errorforend_date").text("Please enter your end_date");
                form_is_invalid = true;
            }
            else {
                $("#end_date").removeClass("is-invalid");
                $("#end_date").addClass("is-valid");
                $("#errorforend_date").text("");
            }
            //Validation for end_date ends here


            //Validation for assigned_to begins here
            if ($("#assigned_to").val() == "") {
                $("#assigned_to").addClass("is-invalid");
                $("#errorforassigned_to").text("Please enter your assigned_to");
                form_is_invalid = true;
            }
            else {
                $("#assigned_to").removeClass("is-invalid");
                $("#assigned_to").addClass("is-valid");
                $("#errorforassigned_to").text("");
            }
            //Validation for assigned_to ends here







            if (form_is_invalid) {
                e.stopPropagation()
                return false
            }

            $("#add_new_task_btn").attr("disabled", true);
            $("#add_new_task_btn").html(`<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>`);



            $.ajax({
                url: $(this).attr("action"),
                method: $(this).attr("method"),
                data: new FormData(this),
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (resp) {
                    console.log(resp);
                    if (resp.success) {
                        iziToast.success({
                            title: 'Add new task',
                            message: resp.msg,
                            position: 'topRight',
                        });

                        //$("#registation_form").find("input").val("")
                        //$("#registation_form").find("input").removeClass("is-valid")
                        $("#tasksmodel").modal("hide")

                        $("#add_new_task_btn").attr("disabled", false);
                        $("#add_new_task_btn").html(`Add`);

                        $("#taskstable").DataTable().ajax.reload();

                    } else {
                        if (resp.key) {
                            console.log(resp.key)
                            $(`#${resp.key}`).addClass("is-invalid").focus()
                        }

                        iziToast.error({
                            title: 'Add new task',
                            message: resp.msg,
                            position: 'topRight',
                        });

                        $("#add_new_task_btn").attr("disabled", false);
                        $("#add_new_task_btn").html(`Add`);
                    }
                }
            });


        })


        

        $("#new_tasks").on("click", function () {
            $("#tasksmodel").find("input, select").val("").removeClass("is-invalid, is-valid")
            $("#myModalLabel").text("Add new task")
           // $("#start_task").css("display", "none")
            $("#tasksmodel").modal("show")
        })


    })

</script>
{% endblock script %}