{% block claim_missing_in_model %}


<div class="modal fade" id="claim_missing_in_model" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="claim_missing_in_modelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="claim_missing_in_modelLabel">IN Claim missing
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">






                <form action="{% url 'UpdateXallyeBlacklist' %}" method="post" id="UpdateXallyeBlacklist">
                    {% csrf_token %}
                    <div class="col-md-12">
                        <label for="callsub" class="form-label" >Callsub</label>
                        <input type="number" class="form-control" id="callsub"
                            value='{{ getCaawiyeInformation.responseBody.0.Callsub }}' name="callsub" readonly>
                        <small id="errorforcallsub"> </small>
                    </div>
                    <div class="col-md-12">
                        <label for="status" class="form-label">Black list status</label>

                        <select class="form-control" name="xaliye_status" id="xaliye_status"
                            style="width: 100%;">
                            <option value="">Select blacklist</option>
                            <option value="1">Blacklist</option>
                            <option value="0">Remove blacklist</option>
                        </select>
                        <small id="errorforxaliye_status"> </small>
                    </div>
                    <div class="col-md-12">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" name="description" id="description"
                            placeholder="Tell us why..............?" cols="30" rows="10"></textarea>

                        <small id="errorfordescription"> </small>
                    </div>
                    <br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

{% endblock claim_missing_in_model %}