{% extends 'layout/index.html' %}


{% block url_level_title %}
Cars
{% endblock url_level_title %}

{% block url_level %}
cars
{% endblock url_level %}



{% block content %}





{% if request.user.is_superuser %}
<button class="btn btn-success"  data-bs-toggle='modal' data-bs-target='#carsmodel' id="new_cars"> Add new car </button>
{% endif %}
    



{% include "cars/modal.html" %}






<table id="carstable">
    <thead>
        <tr>
            <th> SN </th>
            <th>Car type</th>
            <th> Assigned to </th>
            
            {% if request.user.is_superuser %}
            <th> Actions </th>
            {% endif %}
                
        </tr>
    </thead>
</table>

{% endblock content %}



{% block script %}
    <script>

        $(document).ready(function(){
            $.ajaxSetup({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                }
            });



        
    is_superuser = "{{ request.user.is_superuser }}"


            if(is_superuser == "True")
            {
                let table = $("#carstable").DataTable({
                    ajax:{
                        "url": "/get_cars",
                        "dataSrc":""
                    },
                    "columns": [
                    { "data": "sn" },
                    { "data": "cars_type" },
                    { "data": "assigned_to" },
                    { "data": "actions" },
                                ]
                });
            }
            else{
                let table = $("#carstable").DataTable({
                    ajax:{
                        "url": "/get_cars",
                        "dataSrc":""
                    },
                    "columns": [
                    { "data": "sn" },
                    { "data": "cars_type" },
                    { "data": "assigned_to" },
                                ]
                });
            }

       

        $(document).on("click", ".delete_cars", function () {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this car!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: '/del_car',
                            method: "POST",
                            data: { "id": $(this).data("id") },
                            dataType: "json",
                            success: function (resp) {
                                swal(resp.msg, {
                                    icon: "success",
                                });
                                $("#carstable").DataTable().ajax.reload();
                            }
                        })
                    } else {
                        swal("This car is safe!");
                    }
                });
        })



        $("#add_new_car_modal").on("submit", function (e) {
            e.preventDefault();

            form_is_invalid = false;

            

            //Validation for car_type begins here
            if ($("#car_type").val() == "") {
                $("#car_type").addClass("is-invalid");
                $("#errorforcar_type").text("Please enter your car_type");
                form_is_invalid = true;
            }
            else {
                $("#car_type").removeClass("is-invalid");
                $("#car_type").addClass("is-valid");
                $("#errorforcar_type").text("");
            }
            //Validation for car_type ends here


              //Validation for assigned_to_cars begins here
            if ($("#assigned_to_cars").val() == "") {
                $("#assigned_to_cars").addClass("is-invalid");
                $("#errorforassigned_to").text("Please enter your assigned_to");
                form_is_invalid = true;
            }
            else {
                $("#assigned_to_cars").removeClass("is-invalid");
                $("#assigned_to_cars").addClass("is-valid");
                $("#errorforassigned_to").text("");
            }
            //Validation for assigned_to ends here

            





            if (form_is_invalid) {
                e.stopPropagation()
                return false
            }


            $("#add_new_car_btn").attr("disabled", true);
            $("#add_new_car_btn").html(`<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>`);



            $.ajax({
                url: $(this).attr("action"),
                method: $(this).attr("method"),
                data: new FormData(this),
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (resp) {
                    console.log(resp);
                    if (resp.success) {
                        iziToast.success({
                            title: 'Add new car',
                            message: resp.msg,
                            position: 'topRight',
                        });

                        //$("#registation_form").find("input").val("")
                        //$("#registation_form").find("input").removeClass("is-valid")
                        $("#carsmodel").modal("hide")

                        $("#add_new_car_btn").attr("disabled", false);
                        $("#add_new_car_btn").html(`Add`);

                        $("#carstable").DataTable().ajax.reload();

                    } else {
                        if (resp.key) {
                            console.log(resp.key)
                            $(`#${resp.key}`).addClass("is-invalid").focus()
                        }

                        iziToast.error({
                            title: 'Add new car',
                            message: resp.msg,
                            position: 'topRight',
                        });

                        $("#add_new_car_btn").attr("disabled", false);
                        $("#add_new_car_btn").html(`Add`);
                    }
                }
            });


        })



        $(document).on("click", ".update_tasks", function(){
            $("#pk").val($(this).data("pk"))
            $("#title").val($(this).data("title"))
            $("#start_date").val($(this).data("start_date"))
            $("#end_date").val($(this).data("end_date"))
            $("#assigned_to").val($(this).data("assigned_to"))
            $("#task_status").val($(this).data("status_id"))
           // $("#start_task").css("display", "block")
            $("#myModalLabel").text($(this).data("title"))
            console.log($(this).data("task_time"))
            $("#time").val($(this).data("task_time"))

            console.log($(this).data("notification"))
            

            pk = $(this).data("pk") 
            $.ajax({
                url: '/get_tasks_status',
                method: "POST",
                data : {"task_id": $(this).data("pk")},
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                dataType: "json",
                success: function (resp) {
                    console.log(resp)
                    if(!resp.started){
                        $.ajax({
                            url: '/start_timer',
                            method: "POST",
                            data : {"task_id": pk},
                            headers: {
                                "X-CSRFToken": '{{csrf_token}}'
                            },
                            dataType: "json",
                            success: function (resp) {
                                console.log(resp)
                                $("#timer").css("display", "block")
                            }
                        })
                    }else{
                        $("#timer").css("display", "none")
                    }
                }
            })

            
            if($(this).data("task_start_timer") != "None" && $(this).data("task_end_timer") == "None"){
                $("#tasksmodel").find(".timer_diplayer").css("display", "block")
                console.log("the task is currently running")

                //$(".timer").css("display", "block")
            }
            else{
                console.log("the task finished it is execution")
                $("#timer").css("display", "none")
            }
            $("#tasksmodel").modal("show")
        })


        $(document).on("click",".update_cars", function(){
            id = $(this).data("pk")
            console.log(id)
            

            $.ajax({
                url: '/get_car',
                method: "POST",
                data : {"id": id},
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                dataType: "json",
                success: function (resp) {
                    console.log($("#myModalLabel").text())

                    $("#myModalLabel").text(resp.car.car_type)

                    $("#pk_cars").val(resp.car.pk)
                    $("#car_type").val(resp.car.car_type)
                    $("#assigned_to_cars").val(resp.car.assigned_to)
                    $("#car_road_renewed").val(resp.car.tax_renewed_date)
                    $("#car_road_expire").val(resp.car.tax_expiration_date)
                    $("#car_fitness_renewed").val(resp.car.fitness_renewed_date)
                    $("#car_fitness_expire").val(resp.car.fitness_expiration_date)
                    $("#car_maintenance_expire").val(resp.car.car_maintanance_date)
                    $("#car_conditions").val(resp.car.car_condition)
                    resp.checklist.forEach(el=>{
                        if(el.title.indexOf("road") >= 0){
                            if(el.is_checked == 1){
                                $("#car_road_checklist").prop('checked', true);
                                $("#car_road_checklist").next("span").css("text-decoration", "line-through")
                            }
                        }
                        if(el.title.indexOf("Fitness") >= 0){
                            if(el.is_checked == 1){
                                $("#car_fitness_checklist").prop('checked', true);
                                $("#car_fitness_checklist").next("span").css("text-decoration", "line-through")
                            }
                        }
                        if(el.title.indexOf("maintained") >= 0){
                            if(el.is_checked == 1){
                                $("#car_maintainance_checklist").prop('checked', true);
                                $("#car_maintainance_checklist").next("span").css("text-decoration", "line-through")
                            }
                        }
                        if(el.title.indexOf("conditions") >= 0){
                            if(el.is_checked == 1){
                                $("#car_conditions_checklist").prop('checked', true);
                                $("#car_conditions_checklist").next("span").css("text-decoration", "line-through")
                            }
                        }
                    })
                    $("#checklists").css("display", "block")
                    $("#car_road_checklist").val("road")
                    $("#car_fitness_checklist").val("fitness")
                    $("#car_maintainance_checklist").val("maintainance")
                    $("#car_conditions_checklist").val("conditions")
                    $("#carsmodel").modal("show")
                }
            })

            //console.log($(this).data("pk"))
            //$("#pk_cars").val($(this).data("pk"))
            //$("#car_type").val($(this).data("cars_type"))
            //console.log($(this).data("assigned_to"))
            //$("#assigned_to_cars").val($(this).data("assigned_to"))
            //$("#carsmodel").modal("show")
            //$("#show_cars_model").modal("show")
        })

        $("#new_cars").on("click",function(){
            $("#carsmodel").find("input, select").val("").removeClass("is-invalid, is-valid")
        })

        $(document).on("change", ".checklist", function(){
            let checklist = 0
            let checklist_type = "" 
            console.log($(this).val())
            let element = $(this).next()
            console.log("the element = ", element)
            if($(this).is(":checked")){
                checklist = 1
                if($(this).val() == "road"){
                    checklist_type = "road"
                }
                if($(this).val() == "fitness"){
                    checklist_type = "Fitness"
                }
                if($(this).val() == "maintainance"){
                    checklist_type = "maintained"
                }
                if($(this).val() == "conditions"){
                    checklist_type = "conditions"
                }
                console.log("We here ", checklist_type);

                $.ajax({
                    url: '/save_checklist',
                    method: "POST",
                    data : {
                        "checklist": checklist,
                        "checklist_type": checklist_type,
                        "id": $("#pk_cars").val()
                    },
                    headers: {
                        "X-CSRFToken": '{{csrf_token}}'
                    },
                    dataType: "json",
                    success: function (resp) {
                        console.log(resp)
                    }})


                $(element).css("text-decoration", "line-through")
            }
            else{
                checklist = 0
                if($(this).val() == "road"){
                    checklist_type = "road"
                }
                if($(this).val() == "fitness"){
                    checklist_type = "Fitness"
                }
                if($(this).val() == "maintainance"){
                    checklist_type = "maintained"
                }
                if($(this).val() == "conditions"){
                    checklist_type = "conditions"
                }
                console.log("We here = ", checklist_type);

                $.ajax({
                    url: '/save_checklist',
                    method: "POST",
                    data : {
                        "checklist": checklist,
                        "checklist_type": checklist_type,
                        "id": $("#pk_cars").val()
                    },
                    headers: {
                        "X-CSRFToken": '{{csrf_token}}'
                    },
                    dataType: "json",
                    success: function (resp) {
                        console.log(resp)
                    }})

                $(element).css("text-decoration", "")
            }
        } )


    })

    </script>
{% endblock script %}
    