{% load static %}

<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>2FA | CCare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/golis_favicon.png' %} ">

    <!-- Bootstrap Css -->
    <link href=" {% static 'assets/css/bootstrap.min.css' %} " id="bootstrap-style" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href=" {% static 'assets/css/icons.min.css' %} " rel="stylesheet" type="text/css">
    <!-- App Css-->
    <link href=" {% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css">

    <!-- IZItoast css -->
    <link href=" {% static 'assets/css/iziToast.css' %}" id="app-style" rel="stylesheet" type="text/css">





</head>

<body>

    <div class="account-pages my-5 pt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-4">
                    <div class="card overflow-hidden">
                        <div class="bg-primary">
                            <div class="text-primary text-center p-4">
                                <h5 class="text-white font-size-20">Two-factor authentication</h5>
                                <p class="text-white-50">A few more clicks to sign in to your account. insert the code sent to you via sms</p>
                                <a href="index.html" class="logo logo-admin">
                                    <img src="{% static 'assets/images/golis_logo.png' %} " height="16" alt="logo">
                                </a>
                            </div>
                        </div>

                        <div class="card-body p-4">
                            <div class="p-3">
                                <form class="mt-4" action="{% url 'ccare_2fa' %}" method="post" id="2fa_form">
                                    {% csrf_token %}
                                    
                                    <input type="hidden" name="next" id="next" value= {{ next }} >
                                    <div class="mb-3">
                                        <label class="form-label" for="2fa">2fa Code</label>
                                        <input type="number" class="form-control" id="2fa" name="2fa"
                                            placeholder="Enter 2fa Cod" autofocus>
                                        <small id='errorfor2fa' class="invalid-feedback"></small>
                                    </div>

                                    <div class="mb-3 row">
                                        <div class="col-sm-6">

                                        </div>
                                        <div class="col-sm-6 text-end">
                                            <button class="btn btn-primary w-md waves-effect waves-light" id="2fa_btn"
                                                type="submit">Log In
                                            </button>

                                        </div>
                                    </div>


                                </form>

                            </div>
                        </div>

                    </div>

                    <div class="mt-5 text-center">

                        <p class="mb-0">©
                            <script>document.write(new Date().getFullYear())</script> Golis. by Data and development
                            department
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="{% static 'assets/libs/jquery/jquery.min.js' %} "></script>
    <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static 'assets/libs/metismenu/metisMenu.min.js' %} "></script>
    <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %} "></script>
    <script src="{% static 'assets/libs/node-waves/waves.min.js' %} "></script>

    <script src="{% static 'assets/js/app.js' %} "></script>
    <!-- sweet alert -->
    <script src="{{ STATIC_URL }}  static/assets/js/sweetalert.min.js"></script>

    <!-- IZtoast -->
    <script src="{{ STATIC_URL }}  static/assets/js/iziToast.min.js"></script>





    {% block script %}

    <script>

        $("document").ready(function () {

            $.ajaxSetup({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                }
            });



            $("#2fa_form").on("submit", function (e) {
                e.preventDefault();


                //Validation for 2fa begins here
                if ($("#2fa").val() == "") {
                    $("#2fa").addClass("is-invalid");
                    $("#errorfor2fa").text("Please enter your 2fa");
                    e.stopPropagation()
                    return false
                }
                else {
                    $("#2fa").removeClass("is-invalid");
                    $("#2fa").addClass("is-valid");
                    $("#errorfor2fa").text("");
                }
                //Validation for 2fa ends here

                $("#2fa_btn").attr("disabled", true);
                $("#2fa_btn").html(`<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>`);


                $.ajax({
                    url: $(this).attr("action"),
                    method: $(this).attr("method"),
                    data: new FormData(this),
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    success: function (resp) {
                        if (resp.success) {
                            console.log(resp);
                            if (resp.next)
                            {
                                location.replace(resp.next)
                            }
                            else{
                                location.replace(resp.redirect)
                            }
                        } else {
                            iziToast.error({
                                title: 'Login failed',
                                message: resp.msg,
                                position: 'topRight',
                            });

                            $("#2fa_btn").attr("disabled", false);
                            $("#2fa_btn").html(`Log In`);
                        }
                    }
                });










            })

        });

    </script>

    {% endblock script %}


</body>

</html>