{% extends 'layout/index.html' %}

{% load static %}


{% block title %}

User registration

{% endblock title %}



{% block url_level_title %}
User registration
{% endblock url_level_title %}

{% block url_level %}
Registration
{% endblock url_level %}


{% block content %}


<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div style="display: flex; justify-content: space-between; ">
                    <h4 class="card-title mb-4">User management</h4>

                    <a href="#" class="btn btn-purple rounded-pill w-md waves-effect waves-light mb-3"
                    data-bs-toggle='modal' data-bs-target='#adduser' id="new_cars"><i class="mdi mdi-plus"></i>
                    Add new user</a>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-centered table-nowrap mb-0" id="usrmanagementtable">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Fullname</th>
                                <th> action </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% include "users/model.html" %}



{% endblock content %}

{% block script %}

<script>

    $("document").ready(function () {



        let table = $("#usrmanagementtable").DataTable({
            ajax: {
                "url": "/get_employees",
                "dataSrc": ""
            },
            "columns": [
                { "data": "sn" },
                { "data": "username" },
                { "data": "email" },
                { "data": "fullname" },
                { "data": "actions" },

            ]
        });

        $.ajaxSetup({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            }
        });



        $("#registation_form").on("submit", function (e) {
            e.preventDefault();

            form_is_invalid = false;

            //Validation for fname begins here
            if ($("#fname").val() == "") {
                $("#fname").addClass("is-invalid");
                $("#errorforfname").text("Field is required");
                form_is_invalid = true;
            }
            else {
                $("#fname").removeClass("is-invalid");
                $("#fname").addClass("is-valid");
                $("#errorforfname").text("");
            }//Validation for fname ends here


            //Validation for lname begins here
            if ($("#lname").val() == "") {
                $("#lname").addClass("is-invalid");
                $("#errorforlname").text("Field is required");
                form_is_invalid = true;
            }
            else {
                $("#lname").removeClass("is-invalid");
                $("#lname").addClass("is-valid");
                $("#errorforlname").text("");
            }//Validation for lname ends here


            //Validation for email begins here
            if ($("#email").val() == "") {
                $("#email").addClass("is-invalid");
                $("#errorforemail").text("Field is required");
                form_is_invalid = true;
            }
            else {
                $("#email").removeClass("is-invalid");
                $("#email").addClass("is-valid");
                $("#errorforemail").text("");
            }//Validation for email ends here

            //Validation for username begins here
            if ($("#username").val() == "") {
                $("#username").addClass("is-invalid");
                $("#errorforusername").text("Field is required");
                form_is_invalid = true;
            }
            else if ($("#username").val().split(" ").length >= 2) {
                $("#username").addClass("is-invalid");
                $("#errorforusername").text("USername shouldn't have space");
                form_is_invalid = true;
            }
            else {
                $("#username").removeClass("is-invalid");
                $("#username").addClass("is-valid");
                $("#errorforusername").text("");
            }//Validation for username ends here


            if ($("#pk").val() != ''){
                //Validation for password begins here
                if ($("#password").val() == "") {
                    $("#password").addClass("is-invalid");
                    $("#errorforpassword").text("Please enter your password");
                    form_is_invalid = true;
                }
                else {
                    $("#password").removeClass("is-invalid");
                    $("#password").addClass("is-valid");
                    $("#errorforpassword").text("");
                }
                //Validation for password ends here
            }

            


            //Validation for usertype begins here
            if ($("#usertype").val() == "") {
                $("#usertype").addClass("is-invalid");
                $("#errorforusertype").text("Please enter your usertype");
                form_is_invalid = true;
            }
            else {
                $("#usertype").removeClass("is-invalid");
                $("#usertype").addClass("is-valid");
                $("#errorforusertype").text("");
                form_is_invalid = false;
            }
            //Validation for usertype ends here

            if (form_is_invalid) {
                e.stopPropagation()
                return false
            }


            $("#register_btn").attr("disabled", true);
            $("#register_btn").html(`<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>`);

            

            $.ajax({
                url: $(this).attr("action"),
                method: $(this).attr("method"),
                data: new FormData(this),
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (resp) {
                    console.log(resp);
                    if (resp.success) {
                        iziToast.success({
                            title: 'Registration success',
                            message: resp.msg,
                            position: 'topRight',
                        });

                        //$("#registation_form").find("input").val("")
                        //$("#registation_form").find("input").removeClass("is-valid")

                        $("#usrmanagementtable").DataTable().ajax.reload();
                        $("#adduser").modal("toggle")

                        $("adduser").find("input, select").val()

                        $("#register_btn").attr("disabled", false);
                        $("#register_btn").html(`Register`);

                    } else {
                        if (resp.key) {
                            console.log(resp.key)
                            $(`#${resp.key}`).addClass("is-invalid").focus()
                        }

                        iziToast.error({
                            title: 'Registration',
                            message: resp.msg,
                            position: 'topRight',
                        });

                        $("#register_btn").attr("disabled", false);
                        $("#register_btn").html(`Register`);
                    }
                }
            });


        })


    

        $(document).on("click", ".users_model_update", function () {
            $("#adduser").modal("toggle")
            $.ajax({
                url: '/get_employee',
                method: "POST",
                data: { "id": $(this).data("id") },
                dataType: "json",
                success: function (resp) {
                    console.log(resp)
                    console.log("the userlevel = ", resp.username)
                    $("#fname").val(resp.first_name)
                    $("#lname").val(resp.last_name)
                    $("#email").val(resp.email)
                    $("#username").val(resp.username)
                    $("#usertype").val(resp.userlevel)
                    $("#pk").val(resp.id)
                }
            })

        })

        

        $(document).on("click", ".delete_user", function(){
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this user!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: '/delete_user',
                            method: "POST",
                            data: { "id": $(this).data("id") },
                            dataType: "json",
                            success: function (resp) {
                                swal(resp.msg, {
                                    icon: "success",
                                });
                                $("#usrmanagementtable").DataTable().ajax.reload();
                            }
                        })
                    } else {
                        swal("This user is safe!");
                    }
                });

        })


    });


</script>

{% endblock script %}