<<<<<<< HEAD
// 
// Page-title
// 

.page-title-box {
    padding: 24px 0px;

    .breadcrumb {
        background-color: transparent;
        padding: 0;
    }

    h4 {
        font-weight: 700;
    }
=======
// 
// Page-title
// 

.page-title-box {
    padding: 24px 0px;

    .breadcrumb {
        background-color: transparent;
        padding: 0;
    }

    h4 {
        font-weight: 700;
    }
>>>>>>> b72c5ea86bf6885e302b926b7202718cf917849d
}