{% block billing_tab %}
<div class="tab-pane fade show active" id="billing" role="tabpanel" aria-labelledby="home-tab">
    <div style="width: 95%; margin: 10px auto;" style="background-color: red;">

        <div class="table-responsive">
            <!-- <table class="table table-hover table-light" width="100%"> -->
            <table class="table table-hover table-striped" width="100%">
                <caption class="table-info" style="caption-side:top;text-align:center">Billing
                    information</caption>
                <thead>
                    <tr>
                        <th scope="col">
                            Callsub
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Balgrp
                        </th>
                        <th>
                            Centre
                        </th>
                        <th>
                            Startdate
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            TYPE
                        </th>
                        <th>
                            Balance(PostPaid)
                        </th>

                        <th>
                            Limit
                        </th>

                        <th>
                            UnderLimit
                        </th>
                    </tr>
                </thead>

                <tbody>



                    {% for GetCustomer in GetCustomers.responseBody %}

                    <tr>
                        <td>
                            {{ GetCustomer.Callsub }}
                        </td>

                        <td>
                            {{ GetCustomer.Name }}
                        </td>

                        <td>
                            {{ GetCustomer.Balgrp }}
                        </td>

                        <td>
                            {{ GetCustomer.Centre }}
                        </td>

                        <td>
                            {{ GetCustomer.Startdate }}
                        </td>
                        <td>
                            {{ GetCustomer.Status }}
                        </td>
                        <td>
                            {{ GetCustomer.TYPE }}
                        </td>
                        <td>
                            {{ GetCustomer.PostBalance }}
                        </td>

                        <td>
                            {{ GetCustomer.Limit }}
                        </td>

                        <td>
                            {{ GetCustomer.Underlimit }}
                        </td>



                    </tr>



                    <tr class="table-info">
                        <td colspan="10" style="text-align: center;">Customer Codes</td>
                    </tr>

                    <tr>

                        <td colspan="10">
                            <table class="table mb-0" width="100%">
                                <tr>
                                    <th>
                                        ICCID
                                    </th>

                                    <th>
                                        PIN1
                                    </th>
                                    <th>
                                        PIN2
                                    </th>
                                    <th>
                                        PUK1
                                    </th>
                                    <th>
                                        PUK2
                                    </th>
                                </tr>
                                <tr>

                                    <td>
                                        {{ GetCustomer.ICCID }}
                                    </td>
                                    <td>
                                        {{ GetCustomer.PIN1 }}
                                    </td>
                                    <td>
                                        {{ GetCustomer.PIN2 }}
                                    </td>
                                    <td>
                                        {{ GetCustomer.PUK1 }}
                                    </td>
                                    <td>
                                        {{ GetCustomer.PUK2 }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    {% endfor %}

                    <tr class="table-info">
                        <td colspan="10" style="text-align: center;">Customer History</td>
                    </tr>

                    <tr>
                        <td colspan="10">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Dis
                                        </th>
                                        <th>
                                            orderby
                                        </th>
                                        <th>
                                            descrip
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Center
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for GetCustHistory in GetCustHistory.responseBody %}
                                    <tr>
                                        <td>
                                            {{ GetCustHistory.Date }}
                                        </td>
                                        <td>
                                            {{ GetCustHistory.Disc }}
                                        </td>
                                        <td>
                                            {{ GetCustHistory.orderby }}
                                        </td>
                                        <td>
                                            {{ GetCustHistory.descrip }}
                                        </td>
                                        <td>
                                            {{ GetCustHistory.Center }}
                                        </td>
                                        <td>
                                            {{ GetCustHistory.Status }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock billing_tab %}