{% block in_tab %}
<div class="tab-pane fade" id="in" role="tabpanel" aria-labelledby="in-tab">
    <div style="width: 95%; margin: 10px auto;" style="background-color: red;">
        <div class="table-responsive">

            <table class="table table-hover table-striped" width="100%">
                <caption style="caption-side:top;text-align:center">IN information
                </caption>
                <thead>
                    <tr>
                        <th>Balance(PrePaid)</th>
                        <th>Free GPRS</th>
                        <th>Language</th>
                        <th>AccState</th>
                        <th>CLAIMMISSING</th>
                        <th>BLACKLIST</th>
                        <th>ActivationDate</th>
                        <th>LastActivationDate</th>
                        <th>LifeCycleState</th>
                        <th>SuspendExpirationDate</th>
                    </tr>
                </thead>

                {{ GetiCBSsubscriberInfo }}

                {% for GetiCBSsubscriberInfo in GetiCBSsubscriberInfo.responseBody %}
                <tbody>
                    <tr>
                        <td> {{ GetiCBSsubscriberInfo.balanceField }} </td>
                        <td> {{ GetiCBSsubscriberInfo.pRMVOLUMEField }} </td>
                        <td> {{ GetiCBSsubscriberInfo.lANGUAGETYPEField }} </td>
                        <td> {{ GetiCBSsubscriberInfo.aCCOUNTSTATEField }} </td>
                        <td> {{ GetiCBSsubscriberInfo.cLAIMMISSINGField }} 

                            {% if GetiCBSsubscriberInfo.cLAIMMISSINGField  == "Yes" %}
                            <input class="form-check form-switch" type="checkbox" id="in_claim_missing" switch="bool"
                                checked>
                            <label class="form-label" for="in_claim_missing" data-on-label="Yes"
                                data-off-label="No"></label>

                            {% else %}
                            <input class="form-check form-switch" type="checkbox" id="in_claim_missing" switch="bool">
                            <label class="form-label" for="in_claim_missing" data-on-label="Yes"
                                data-off-label="No"></label>
                            {% endif %}


                        </td>
                        <td> {{ GetiCBSsubscriberInfo.bLACKLISTField }} </td>
                        <td> {{ GetiCBSsubscriberInfo.activationDateField }} </td>
                        <td> {{ GetiCBSsubscriberInfo.lastActivationDateField }} </td>
                        <td> {{ GetiCBSsubscriberInfo.lifeCycleStateField }} </td>
                        <td> {{ GetiCBSsubscriberInfo.suspendStopField }} </td>
                    </tr>

                    <tr class="table-info">
                        <td colspan="10" style="text-align: center;"> {{ GetiCBSsubscriberInfo.accountTypeField }} </td>
                    </tr>



                </tbody>
                {% endfor %}

            </table>

        </div>
    </div>
</div>









{% endblock in_tab %}



