{% block sahal_tab %}
<div class="tab-pane fade" id="sahal" role="tabpanel" aria-labelledby="sahal-tab">
    <div style="width: 80%; margin: 10px auto;" style="background-color: red;">
        <div class="table-responsive">
            <table class="table table-hover" width="100%">
                <caption style="caption-side:top;text-align:center">Sahal information
                </caption>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>MobileNo</th>
                        <th>currentBalance</th>
                        <th>freezedBalance</th>
                        <th>isActivated</th>
                        <th>isBlacklisted</th>
                        <th>isEnabled</th>
                        <th>isInUse</th>
                        <th>isLost</th>
                        <th>maxBalance</th>
                    </tr>
                </thead>

                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock sahal_tab %}