{% block sahal_tab %}





<div class="tab-pane fade" id="sahal" role="tabpanel" aria-labelledby="sahal-tab">
    <div style="width: 90%; margin: 10px auto;" style="background-color: red;">
        <div class="table-responsive">
            <table class="table table-hover" width="100%">
                <caption style="caption-side:top;text-align:center">Sahal information
                </caption>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>MobileNo</th>
                        <th>currentBalance</th>
                        <th>freezedBalance</th>
                        <th>isActivated</th>
                        <th>isBlacklisted</th>
                        <th>isLost</th>
                        <th>maxBalance</th>
                    </tr>
                </thead>



                <tbody>



                    {% if GetSahalinfo and GetSahalinfo.serviceInfo.responseAttributes.SubscriberInfo and not GetSahalinfo.Message %}

                    <tr>
                        <td>
                            {{ GetSahalinfo.serviceInfo.responseAttributes.SubscriberInfo.CUSTOMERNAME }}
                        </td>

                        <td>
                            {{ GetSahalinfo.serviceInfo.responseAttributes.SubscriberInfo.SUBSCRIPTIONID }}
                        </td>

                        <td>
                            ${{ GetSahalinfo.serviceInfo.responseAttributes.SubscriberInfo.CURRENTBALANCE }}
                        </td>

                        <td>
                            ${{ GetSahalinfo.serviceInfo.responseAttributes.SubscriberInfo.SHADOWAMOUNT }}
                        </td>


                        <td>

                            {% if GetSahalinfo.serviceInfo.responseAttributes.SubscriberInfo.ISSUBSCRIBERACTIVATED == "1" %}

                            <div class="alert alert-success" style="padding: 5px;">
                                Active
                            </div>


                            {% else %}

                            <div class="alert alert-danger" style="padding: 5px;">
                                Inactive
                            </div>


                            {% endif %}

                        </td>

                        <td>


                            {% if GetSahalinfo.serviceInfo.responseAttributes.SubscriberInfo.ISBLACKLIST == "0" %}
                            <div class="alert alert-success" style="padding: 5px 5px 5px 25px;">
                                NO
                            </div>

                            {% else %}
                            <div class="alert alert-danger" style="padding: 5px;">
                                Yes
                            </div>

                            {% endif %}


                        </td>



                        <td>



                            {% if GetSahalinfo.serviceInfo.responseAttributes.SubscriberInfo.ISREPORTEDLOST == "0" %}
                            <div class="alert alert-success" style="padding: 5px;">
                                No
                            </div>
                            {% else %}

                            <div class="alert alert-success" style="padding: 5px;">
                                Yes
                            </div>

                            {% endif %}

                        </td>

                        <td>

                            {{ GetSahalinfo.serviceInfo.responseAttributes.SubscriberInfo.ACCOUNTPROFILENAME }}
                        </td>
                    </tr>


                    {% if GetSAHALinfoAcc %}

                    <tr class="table-info">
                        <td colspan="9" style="text-align: center;">Account</td>
                    </tr>






                    <tr>
                        <td colspan="10">
                            <table class="table mb-0" width="100%">
                                <thead>
                                    <tr>
                                        <th>NAME</th>
                                        <th>Mobile number</th>
                                        <th>Cuurent balance</th>
                                        <th>isActivated</th>
                                        <th>isBlacklisted</th>
                                        <th>isLost</th>
                                        <th>Max balance</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% if not GetSAHALinfoAcc.Message %}



                                    <tr>
                                        <td>
                                            {{ GetSAHALinfoAcc.NAME }}
                                        </td>

                                        <td>
                                            {{ GetSAHALinfoAcc.CONTACTNUMBER }}
                                        </td>


                                        <td>
                                            {{ GetSAHALinfoAcc.CURRENTBALANCE }}

                                        </td>

                                        <td>

                                            {% if GetSAHALinfoAcc.ISACTIVATED == "1" %}

                                            <div class="alert alert-success" style="padding: 5px;">
                                                Active
                                            </div>


                                            {% else %}

                                            <div class="alert alert-danger" style="padding: 5px;">
                                                Inactive
                                            </div>


                                            {% endif %}

                                        </td>


                                        <td>


                                            {% if GetSAHALinfoAcc.ISBLACKLIST == "0" %}
                                            <div class="alert alert-success" style="padding: 5px;">
                                                NO
                                            </div>

                                            {% else %}
                                            <div class="alert alert-danger" style="padding: 5px;">
                                                Yes
                                            </div>

                                            {% endif %}


                                        </td>

                                        <td>
                                            {% if GetSAHALinfoAcc.ISREPORTEDLOST == "0" %}
                                            <div class="alert alert-success" style="padding: 5px;">
                                                No
                                            </div>
                                            {% else %}

                                            <div class="alert alert-success" style="padding: 5px;">
                                                Yes
                                            </div>

                                            {% endif %}


                                        </td>

                                        <td>
                                            {{ GetSAHALinfoAcc.ACCOUNTPROFILENAME }}
                                        </td>
                                    </tr>

                                    {% elif GetSAHALinfoAcc.Message %}

                                    <tr>
                                        <td colspan="7">
                                            <div class="alert alert-danger"
                                                style="width: 50%; margin: 0 auto; text-align: center;">
                                                <i class="fas fa-exclamation-circle"></i> {{ GetSAHALinfoAcc.Message }}
                                            </div>
                                        </td>
                                    </tr>

                                    {% endif %}


                                </tbody>
                            </table>
                        </td>
                    </tr>
                    {% endif %}

                    {% elif GetSahalinfo.Message %}

                    <tr>
                        <td colspan="10">
                            <div class="alert alert-danger" style="width: 50%; margin: 0 auto; text-align: center;">
                                <i class="fas fa-exclamation-circle"></i> {{ GetSahalinfo.Message }}
                            </div>
                        </td>
                    </tr>

                    {% elif GetSahalinfo %}


                    <tr>
                        <td colspan="10">
                            <div class="alert alert-info" style="width: 50%; margin: 0 auto; text-align: center;">
                                <i class="fas fa-exclamation-circle"></i> RECORD NOT FOUND
                            </div>
                        </td>
                    </tr>


                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock sahal_tab %}