{% block xaliye_tab %}

<!-- Xaliye info from Xaliye file -->

<div class="tab-pane fade" id="xaliye" role="tabpanel" aria-labelledby="xaliye-tab">
    <div style="width: 80%; margin: 10px auto;" style="background-color: red;">
        <div class="table-responsive">
            <table class="table table-hover" width="100%" id="xaliye_information">
                <caption style="caption-side:top;text-align:center">Xaliye information</caption>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Callsub</th>
                        <th>Xalliye Service </th>
                        <th>Blacklist</th>
                        <th>Transaction</th>
                        <th>Last Access Date </th>
                        <th>Acc Type</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>



                    {% if getCaawiyeInformation.responseBody.0 and not getCaawiyeInformation.Message %}




                    <tr>
                        <td>
                            {{ getCaawiyeInformation.responseBody.0.Name }}
                        </td>

                        <td>
                            {{ getCaawiyeInformation.responseBody.0.Callsub }}
                        </td>

                        <td>
                            {% if getCaawiyeInformation.responseBody.0.CaawiyeService == "True" %}

                            <button type="button" class="btn btn-outline-success" id='xaliye_disable' data-staus='1'
                                style="height: 30px; padding: 0 10px 0 10px;"> Enabled </button>

                            {% else %}
                            <button type="button" class="btn btn-outline-danger" id='xaliye_disable' data-staus='0'
                                style="height: 30px; padding: 0 10px 0 10px;"> Disabled</button>


                            {% endif %}


                        </td>

                        <td>
                            {% if getCaawiyeInformation.responseBody.0.Blacklist == "True" %}

                            <button type="button" class="btn btn-outline-danger" id='xaliye_blacklist' data-staus='1'
                                style="height: 30px; padding: 0 10px 0 10px;"> Blacklisted </button>

                            {% else %}
                            <button type="button" class="btn btn-outline-success" id='xaliye_blacklist' data-staus='0'
                                style="height: 30px; padding: 0 10px 0 10px;"> Not Blacklisted </button>


                            {% endif %}

                        </td>

                        <td>
                            {{ getCaawiyeInformation.responseBody.0.Transaction }}

                            <!-- <button type="button" class="btn btn-outline-danger" id='xaliye_blacklist' style="height: 30px; padding: 0 10px 0 10px;"> {{ getCaawiyeInformation.responseBody.0.Transaction }} </button> -->
                        </td>

                        <td>
                            {{ getCaawiyeInformation.responseBody.0.LastAccessDate }}
                        </td>

                        <td>
                            {{ getCaawiyeInformation.responseBody.0.AccType }}
                        </td>

                        <td>
                            <button type="button" class="btn btn-outline-danger" id='xaliye_resetbin'
                                style="height: 30px; padding: 0 10px 0 10px;"> Reset bin </button>
                        </td>
                    </tr>


                    {% elif getCaawiyeInformation.Message %}

                    <tr>
                        <td colspan="7">
                            <div class="alert alert-danger" style="width: 50%; margin: 0 auto; text-align: center;">
                                <i class="fas fa-exclamation-circle"></i> {{ getCaawiyeInformation.Message }}
                            </div>
                        </td>
                    </tr>

                    {% elif getCaawiyeInformation %}

                    <tr>
                        <td colspan="10">
                            <div class="alert alert-info" style="width: 50%; margin: 0 auto; text-align: center;">
                                <i class="fas fa-exclamation-circle"></i> RECORD NOT FOUND
                            </div>
                        </td>
                    </tr>
 

                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock xaliye_tab %}